*{
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 243, 194);
}

h1{
background-color: rgb(228, 228, 95);
width: 80%;
height: 100px;
margin: 0 auto ;
}

#div2{
    background-color: white;
    width: 60%;
    height: 650px;
    float: left;
    margin-left: 10%;
    padding: 20px;
    
    }

#div1{
background-color: #ccc;
width:20%;
height: 650px;
float: left;
padding: 20px;
}

p{
color: white;
background-color: #777;
width: 100%;
padding: 10px;
text-align: center;

}
.parent::after{
content:"";
display: table;
clear: both;
width: 80%;
height: auto;

}
