body{

    background-color: green;
    padding: 80%;

    height:90%;
    width: 90%;
    border: 50px solid yellow;

    padding: 60%;
    height:80%;
    width: 80%;
    border: 50px solid yellow;




}



